@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@keyframes fly {
  from,
  to {
    top: 0px;
    animation-timing-function: ease-in-out; }
  50% {
    top: 100px;
    animation-timing-function: ease-in-out; }
  0%,
  100% {
    transform: translateY(0) rotate(-4deg); }
  50% {
    transform: translateY(-10px) rotate(4deg); } }

@keyframes balloons {
  0%,
  100% {
    transform: translateY(0) rotate(-4deg); }
  50% {
    transform: translateY(-10px) rotate(2deg); } }

@keyframes hand {
  0%,
  100% {
    transform: translateY(0) rotate(-4deg); }
  50% {
    transform: translateY(0) rotate(32deg); } }

@keyframes sdb {
  0% {
    opacity: 0.3; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 30px #d6edeb;
    opacity: 0.3; }
  100% {
    opacity: 0.3; } }

@keyframes scrolldown {
  0% {
    background-position: 0 -60px; }
  75% {
    background-position: 0 0; }
  100% {
    background-position: 0 60px; } }

@keyframes city-bg {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes loading-text-opacity {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0.5; } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 15px); }
  100% {
    opacity: 1; } }

.c-scrolldown {
  width: 2px;
  height: 32px;
  overflow: hidden;
  margin: 0 auto; }
  .c-scrolldown .c-line {
    width: 100%;
    height: 100%;
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #d6edeb), color-stop(50%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, #d6edeb 50%, rgba(255, 255, 255, 0) 50%);
    background: -o-linear-gradient(top, #d6edeb 50%, rgba(255, 255, 255, 0) 50%);
    background: linear-gradient(to bottom, #d6edeb 50%, rgba(255, 255, 255, 0) 50%);
    background-position: 0 -60px;
    background-size: 100% 200%;
    -webkit-animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
    animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite; }

.kv {
  position: relative;
  overflow: hidden; }
  .kv .phone_menu {
    max-width: 340px;
    width: 100%;
    position: absolute;
    bottom: 7.1vw;
    left: 10vw; }
  .kv .menu_block {
    position: absolute;
    max-width: 150px;
    width: 100%;
    top: 158px;
    left: 141px; }
  .kv ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .kv ul li {
      max-width: 60px;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      width: 100%;
      margin: 4px;
      display: inline-block;
      padding: 8px 10px;
      border-radius: 6px; }
      .kv ul li:nth-child(1) {
        background: rgba(255, 197, 23, 0.2); }
        .kv ul li:nth-child(1) p {
          color: #ffc517; }
      .kv ul li:nth-child(2) {
        background: rgba(255, 197, 23, 0.2); }
        .kv ul li:nth-child(2) p {
          color: #ffc517; }
      .kv ul li:nth-child(3) {
        background: rgba(0, 164, 239, 0.4); }
        .kv ul li:nth-child(3) p {
          color: #00a4ef; }
      .kv ul li:nth-child(4) {
        background: rgba(237, 72, 72, 0.4); }
        .kv ul li:nth-child(4) p {
          color: #ed4848; }
      .kv ul li:nth-child(5) {
        background: rgba(255, 153, 0, 0.4); }
        .kv ul li:nth-child(5) p {
          color: #ff9900; }
      .kv ul li:nth-child(6) {
        background: rgba(0, 192, 139, 0.4); }
        .kv ul li:nth-child(6) p {
          color: #00c08b; }
      .kv ul li img {
        display: block;
        margin: 0 auto;
        height: 32px;
        transition: .6s; }
      .kv ul li p {
        position: absolute;
        top: 210%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .6s;
        margin: 0;
        width: 100%;
        z-index: 2;
        font-size: 10px;
        text-align: center;
        font-weight: bold; }
      .kv ul li:hover img {
        opacity: 0; }
      .kv ul li:hover p {
        top: 50%; }

.bg_fill {
  animation: city-bg 4s ease-out;
  transition: 1s; }

.title {
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
  text-align: center;
  animation: fadeIn 2s ease 0.2s 1 normal; }
  .title img {
    max-width: 265px; }
  .title h1 {
    font-size: 26px;
    color: #4d4d4d;
    margin-top: 16px;
    margin-bottom: 5px; }

.dots span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px 3px;
  animation-fill-mode: forwards;
  animation: loading-text-opacity 3s linear 0s normal; }
  .dots span:nth-child(1) {
    background: rgba(0, 192, 139, 0.5); }
  .dots span:nth-child(2) {
    background: rgba(0, 164, 239, 0.5);
    animation-delay: .2s; }
  .dots span:nth-child(3) {
    background: rgba(255, 197, 23, 0.5);
    animation-delay: .4s; }
  .dots span:nth-child(4) {
    background: rgba(255, 153, 0, 0.5);
    animation-delay: .6s; }
  .dots span:nth-child(5) {
    background: rgba(237, 72, 72, 0.5);
    animation-delay: .8s; }

.point ul {
  padding: 0;
  list-style: none;
  margin: 0; }
  .point ul li {
    display: inline-block;
    font-size: 18px;
    color: #ff9900;
    margin: 0 5px; }
    .point ul li img {
      display: inline-block;
      width: 23px;
      vertical-align: top;
      margin-right: 6px; }

.point .left-img {
  display: inline-block;
  max-width: 255px;
  width: 100%; }
  .point .left-img img {
    max-width: 210px;
    width: 100%;
    margin: 0 auto;
    display: block;
    filter: drop-shadow(4px 4px 10px #ffe39b); }

.point .txt {
  display: inline-block;
  max-width: 530px;
  width: 100%;
  background: #ffeeb9;
  border-radius: 20px;
  text-align: center; }
  .point .txt p {
    font-size: 18px;
    margin: 30px 0;
    line-height: 26px; }

.point .block {
  background: #fff;
  border-radius: 20px;
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  justify-content: center; }

.point .point_title {
  max-width: 220px;
  width: 100%;
  display: block;
  margin: 40px auto;
  margin-top: 66px; }

.point .con {
  max-width: 830px;
  width: 100%;
  padding: 2px;
  position: relative;
  background: linear-gradient(to right, #00c08b, #00a4ef, #ffc517, #ff9900, #ed4848);
  border-radius: 20px;
  margin: 40px auto; }

.point .coin_1 {
  max-width: 107px;
  width: 100%;
  display: block;
  position: absolute;
  right: -54px;
  top: -54px; }

.point .coin_2 {
  max-width: 55px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -34px;
  left: 30%; }

.point a {
  display: block;
  max-width: 155px;
  width: 100%;
  font-size: 18px;
  color: #fff;
  border-radius: 20px;
  background: #009e96;
  margin: 0 auto;
  padding: 8px;
  text-align: center; }
  .point a:hover img {
    margin-left: 9px; }
  .point a img {
    width: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    margin-bottom: 3px;
    transition: .3s; }

.point .sub_title {
  margin-top: 6px; }
  .point .sub_title h2 {
    text-align: center;
    font-size: 30px;
    color: #009e96; }
    .point .sub_title h2:after {
      content: '';
      display: block;
      width: 164px;
      height: 3px;
      border-radius: 10px;
      background: #009e96;
      /* fallback for old browsers */
      background: linear-gradient(to right, #009e96, rgba(0, 158, 150, 0));
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      margin: 16px auto; }

#test-popup-1 a {
  display: block;
  max-width: 155px;
  width: 100%;
  font-size: 18px;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  background: #009e96;
  margin: 40px auto 10px;
  padding: 8px; }
  #test-popup-1 a:hover img {
    margin-left: 9px; }
  #test-popup-1 a img {
    width: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    margin-bottom: 3px;
    transition: .3s; }

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 1200px;
  width: 100%;
  height: 750px;
  overflow-y: scroll;
  margin: 20px auto; }
  .white-popup a {
    color: #009e96; }
  .white-popup .red {
    color: red;
    font-size: 14px; }

.fancybox-content {
  max-width: 1200px;
  width: 100%;
  border-radius: 10px;
  padding: 40px 0;
  height: 800px; }

#test-popup-1 h2 {
  color: #009e96;
  text-align: center; }

#test-popup-1 > p {
  background: #f2f2f2;
  padding: 12px;
  margin-bottom: 40px;
  text-align: center; }
  #test-popup-1 > p img {
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px; }

#test-popup-1 .row {
  padding: 0 30px;
  text-align: center; }

#test-popup-1 .owl-item p {
  text-align: center;
  line-height: 22px; }
  #test-popup-1 .owl-item p span {
    font-size: 36px;
    font-weight: bold;
    display: block;
    margin-bottom: 15px; }

#test-popup-1 .owl-item img {
  max-width: 220px;
  width: 100%;
  display: block;
  margin: 0 auto; }

.join {
  margin-top: 100px; }
  .join .row {
    display: flex;
    margin: 60px 0; }
    .join .row .col-8 {
      width: 55%;
      background: #faeee7;
      border-radius: 0 40px 40px 0;
      border-right: 3px dashed #fff;
      position: relative; }
      .join .row .col-8 > a {
        display: block;
        max-width: 155px;
        width: 100%;
        font-size: 18px;
        color: #fff;
        border-radius: 20px;
        background: #ed4848;
        margin: 0 auto;
        padding: 8px;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center; }
        .join .row .col-8 > a:hover img {
          margin-left: 9px; }
        .join .row .col-8 > a img {
          width: 8px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 6px;
          margin-bottom: 3px;
          transition: .3s; }
      .join .row .col-8 h3 {
        font-size: 20px;
        color: #ed4848;
        text-align: center;
        margin: 30px 0; }
      .join .row .col-8 ul {
        text-align: center;
        list-style: none;
        padding: 0; }
        .join .row .col-8 ul .flip {
          overflow: hidden;
          position: relative; }
        .join .row .col-8 ul .back {
          position: absolute;
          top: 30px;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          background: #162448;
          color: #fff;
          transition: .3s;
          border-radius: 6px;
          display: inline-flex;
          align-items: center;
          justify-content: center; }
          .join .row .col-8 ul .back ol {
            list-style: none;
            padding: 0;
            text-align: center;
            line-height: 24px; }
        .join .row .col-8 ul .front {
          position: relative;
          z-index: 1;
          transition: .3s; }
        .join .row .col-8 ul > li {
          max-width: 250px;
          width: 100%;
          display: inline-block;
          vertical-align: top;
          margin: 6px; }
          .join .row .col-8 ul > li img {
            max-width: 200px;
            width: 100%; }
          .join .row .col-8 ul > li:nth-child(2) .back {
            background: #fbe769;
            color: #000; }
          .join .row .col-8 ul > li:nth-child(3) .back {
            background: #59a8d3; }
          .join .row .col-8 ul > li:nth-child(4) .back {
            background: #99c9e0;
            color: #000; }
          .join .row .col-8 ul > li > p {
            color: #4d4d4d;
            font-size: 14px;
            line-height: 22px; }
            .join .row .col-8 ul > li > p a {
              text-decoration: underline;
              color: #ed4848; }
    .join .row .col-4 {
      width: 45%;
      background: #e8f7f4;
      border-radius: 40px 0 0 40px;
      position: relative; }
      .join .row .col-4 a {
        display: block;
        max-width: 155px;
        width: 100%;
        font-size: 18px;
        color: #fff;
        border-radius: 20px;
        background: #009e96;
        margin: 0 auto;
        padding: 8px;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center; }
        .join .row .col-4 a:hover img {
          margin-left: 9px; }
        .join .row .col-4 a img {
          width: 8px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 6px;
          margin-bottom: 3px;
          transition: .3s; }
      .join .row .col-4 .con {
        margin-top: 62px; }
        .join .row .col-4 .con > p {
          font-size: 18px;
          text-align: center;
          line-height: 30px; }
      .join .row .col-4 ul {
        list-style: none;
        padding: 0;
        text-align: center;
        margin: 20px 0; }
        .join .row .col-4 ul li {
          display: inline-block;
          max-width: 160px;
          width: 100%;
          vertical-align: top;
          margin: 20px 16px; }
          .join .row .col-4 ul li p {
            font-size: 18px;
            line-height: 24px; }
            .join .row .col-4 ul li p b {
              display: block; }
          .join .row .col-4 ul li .icon {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            background: #fff;
            position: relative;
            margin: 0 auto; }
            .join .row .col-4 ul li .icon img {
              max-width: 94px;
              width: 100%;
              display: block;
              margin: 0 auto;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
      .join .row .col-4 h3 {
        font-size: 20px;
        color: #009e96;
        text-align: center;
        margin: 30px 0; }
        .join .row .col-4 h3 span {
          font-size: 16px; }
  .join .tutor_btn {
    display: block;
    margin: 40px auto;
    max-width: 236px;
    width: 100%;
    background: #009e96;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    text-align: center; }
    .join .tutor_btn img {
      max-width: 34px;
      width: 100%;
      display: inline-block;
      margin: 0 7px;
      vertical-align: middle;
      transform: translateY(15px);
      transition: .3s; }
    .join .tutor_btn:hover img {
      transform: translateY(10px); }
  .join .sub_title h2 {
    text-align: center;
    font-size: 30px;
    color: #009e96; }
    .join .sub_title h2:after {
      content: '';
      display: block;
      width: 164px;
      height: 3px;
      border-radius: 10px;
      background: #009e96;
      /* fallback for old browsers */
      background: linear-gradient(to right, #009e96, rgba(0, 158, 150, 0));
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      margin: 16px auto; }
  .join > p {
    font-size: 20px;
    text-align: center; }
    .join > p a {
      color: #009e96;
      text-decoration: underline; }
    .join > p b {
      font-size: 28px;
      font-style: italic;
      margin-right: -11px;
      padding: 8px;
      border-radius: 37px;
      display: inline-block;
      max-width: 212px;
      width: 100%;
      color: #009e96; }
      .join > p b img {
        display: inline-block;
        max-width: 31px;
        width: 100%;
        vertical-align: middle;
        margin: 0 10px; }

.invite {
  margin-top: 100px; }
  .invite .sub_title h2 {
    text-align: center;
    font-size: 30px;
    color: #009e96; }
    .invite .sub_title h2:after {
      content: '';
      display: block;
      width: 164px;
      height: 3px;
      border-radius: 10px;
      background: #009e96;
      /* fallback for old browsers */
      background: linear-gradient(to right, #009e96, rgba(0, 158, 150, 0));
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      margin: 16px auto; }
  .invite a.notice_mbtn {
    display: none;
    max-width: 236px;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    margin: 20px auto;
    padding: 10px; }
  .invite .col-9 {
    width: 68%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 36px; }
    .invite .col-9 a {
      display: block;
      max-width: 236px;
      width: 100%;
      border: 1px solid;
      border-radius: 10px;
      font-size: 18px;
      text-align: center;
      margin: 0 auto;
      padding: 10px; }
    .invite .col-9 .deco_bg {
      max-width: 140px;
      width: 100%;
      position: absolute;
      right: 123px;
      top: 178px;
      z-index: -1; }
    .invite .col-9 .invite_block {
      text-align: center;
      margin: 50px 0;
      margin-top: 72px; }
    .invite .col-9 .block {
      max-width: 360px;
      width: 100%;
      display: inline-block;
      vertical-align: top;
      background: #f9f9f9;
      border-radius: 20px;
      position: relative;
      text-align: center;
      padding: 20px 4px;
      margin: 0 13px; }
      .invite .col-9 .block h3 {
        font-size: 18px; }
      .invite .col-9 .block p {
        margin-top: 30px;
        font-size: 18px;
        line-height: 27px;
        height: 82px; }
        .invite .col-9 .block p span {
          color: #10c1b8;
          font-weight: bold; }
        .invite .col-9 .block p b {
          display: block;
          font-size: 16px;
          color: #10c1b8; }
      .invite .col-9 .block img {
        width: 20px;
        position: absolute;
        top: -14px;
        left: 30px; }
    .invite .col-9 > p {
      font-size: 18px;
      text-align: center;
      margin-top: 38px;
      line-height: 28px; }
      .invite .col-9 > p img {
        max-width: 30px;
        width: 100%;
        display: inline-block;
        vertical-align: bottom;
        margin-left: 6px; }
      .invite .col-9 > p span {
        color: #ff9900; }
  .invite .col-3 {
    max-width: 300px;
    width: 100%;
    display: inline-block;
    vertical-align: middle; }
    .invite .col-3 .iphone-slide {
      position: relative;
      top: 15px;
      margin: 0 auto;
      max-width: 247px;
      width: 100%;
      left: 0; }
    .invite .col-3 .swiper-slide-active .focus-1,
    .invite .col-3 .swiper-slide-active .focus-2,
    .invite .col-3 .swiper-slide-active .focus-3,
    .invite .col-3 .swiper-slide-active .focus-4,
    .invite .col-3 .swiper-slide-active .focus-5 {
      transform: scale(1); }
    .invite .col-3 .focus-1 {
      width: 100px;
      height: 41px;
      border: 2px solid #ff9901;
      position: absolute;
      bottom: 133px;
      left: 92px;
      border-radius: 10px;
      transform: scale(0);
      transition: 1s; }
    .invite .col-3 .focus-2 {
      width: 100px;
      height: 41px;
      border: 2px solid #ff9901;
      position: absolute;
      bottom: 318px;
      left: 92px;
      border-radius: 10px;
      transform: scale(0);
      transition: 1s; }
    .invite .col-3 .focus-4 {
      width: 156px;
      height: 41px;
      border: 2px solid #ff9901;
      position: absolute;
      bottom: 91px;
      left: 62px;
      border-radius: 10px;
      transform: scale(0);
      transition: 1s; }
      .invite .col-3 .focus-4 p {
        position: absolute;
        right: 29px;
        top: -1px;
        font-size: 12px;
        color: #ff9a0f; }
    .invite .col-3 .focus-5 {
      width: 236px;
      height: 81px;
      border: 2px solid #ff9901;
      position: absolute;
      top: 334px;
      left: 26px;
      border-radius: 10px;
      transform: scale(0);
      transition: 1s; }
    .invite .col-3 .txt {
      text-align: center; }
      .invite .col-3 .txt p {
        font-size: 18px;
        line-height: 24px; }
    .invite .col-3 .swiper-container {
      max-width: 283px;
      width: 100%; }
    .invite .col-3 .swiper-pagination {
      position: static;
      margin-top: 10px; }
      .invite .col-3 .swiper-pagination span {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(0, 158, 150, 0.45);
        margin: 0 5px; }
      .invite .col-3 .swiper-pagination span.active {
        background: #009e96; }
  .invite .highlight {
    background-color: rgba(245, 201, 136, 0.5);
    width: 54%;
    margin: 0 auto;
    min-width: 700px;
    line-height: 38px;
    padding: 0px 10px; }

.mfp-close-btn-in .mfp-close {
  background: #009e96;
  color: #fff; }

.open-popup-link {
  cursor: pointer; }

#test-popup-3 ol span {
  font-size: 18px;
  color: #0699cc;
  font-weight: 500; }

#test-popup-2 .con > h3,
#test-popup-3 .con > h3 {
  text-align: center;
  margin: 40px 0;
  color: #009e96;
  font-size: 22px; }

#test-popup-2 .con > ol,
#test-popup-3 .con > ol {
  padding: 0 4em;
  list-style-type: cjk-ideographic;
  line-height: 22px; }
  #test-popup-2 .con > ol > li,
  #test-popup-3 .con > ol > li {
    line-height: 26px; }
    #test-popup-2 .con > ol > li > ul,
    #test-popup-3 .con > ol > li > ul {
      padding-left: 16px; }
      #test-popup-2 .con > ol > li > ul > h3,
      #test-popup-3 .con > ol > li > ul > h3 {
        margin: 6px 0;
        margin-left: -16px;
        margin-top: 13px;
        font-size: 15px; }
    #test-popup-2 .con > ol > li > ol,
    #test-popup-3 .con > ol > li > ol {
      padding-left: 16px;
      margin: 13px 0; }
      #test-popup-2 .con > ol > li > ol > li ul,
      #test-popup-3 .con > ol > li > ol > li ul {
        padding-left: 16px;
        list-style: disc;
        margin-bottom: 10px; }
        #test-popup-2 .con > ol > li > ol > li ul ol,
        #test-popup-3 .con > ol > li > ol > li ul ol {
          padding-left: 16px; }
        #test-popup-2 .con > ol > li > ol > li ul h3,
        #test-popup-3 .con > ol > li > ol > li ul h3 {
          margin: 6px 0;
          margin-left: -16px;
          font-size: 15px;
          margin-top: 13px; }

.bear_lottery {
  overflow: hidden; }
  .bear_lottery .date {
    max-width: 383px;
    width: 100%;
    margin: 20px auto;
    font-size: 20px;
    color: #009e96;
    border-radius: 50px;
    border: 1px solid #c5e9e2;
    text-align: center;
    padding: 10px; }
  .bear_lottery .sub_title h2 {
    text-align: center;
    font-size: 30px;
    color: #009e96; }
    .bear_lottery .sub_title h2:after {
      content: '';
      display: block;
      width: 164px;
      height: 3px;
      border-radius: 10px;
      background: #009e96;
      /* fallback for old browsers */
      background: linear-gradient(to right, #009e96, rgba(0, 158, 150, 0));
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      margin: 16px auto; }
  .bear_lottery .sub_title_out {
    position: relative;
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 200px; }
  .bear_lottery ul {
    padding: 0;
    margin: 0px; }
  .bear_lottery .row {
    max-width: 1088px;
    width: 100%;
    margin: 60px auto;
    text-align: center; }
  .bear_lottery .two-activities {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 50px; }
    .bear_lottery .two-activities .col-5:nth-child(1) {
      background-color: #d7f2f9; }
      .bear_lottery .two-activities .col-5:nth-child(1) .activity_title {
        background-color: #00a4ef; }
      .bear_lottery .two-activities .col-5:nth-child(1) hr {
        border: solid #00a4ef 0.5px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px; }
    .bear_lottery .two-activities .col-5:nth-child(2) {
      background-color: #faeee7; }
      .bear_lottery .two-activities .col-5:nth-child(2) .P-3 {
        font-size: 18px;
        padding: 10px 32px; }
      .bear_lottery .two-activities .col-5:nth-child(2) .activity_title {
        background-color: #ed4848; }
        .bear_lottery .two-activities .col-5:nth-child(2) .activity_title:before {
          background-color: #ce3030; }
        .bear_lottery .two-activities .col-5:nth-child(2) .activity_title:after {
          background-color: #ce3030; }
      .bear_lottery .two-activities .col-5:nth-child(2) hr {
        border: solid #ed4848 0.5px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px; }
      .bear_lottery .two-activities .col-5:nth-child(2) .P-2 span,
      .bear_lottery .two-activities .col-5:nth-child(2) .P-1 span {
        color: #ed4848; }
    .bear_lottery .two-activities .activity_title {
      position: relative;
      text-align: center;
      width: 40%;
      min-width: 200px;
      margin: 0 auto;
      border-radius: 0px 0px 25px 25px;
      margin-top: -10px; }
      .bear_lottery .two-activities .activity_title::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 10px 0 0 0;
        background-color: #0699cc;
        left: -10px;
        top: 0px; }
      .bear_lottery .two-activities .activity_title::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 0 10px 0 0;
        background-color: #0699cc;
        right: -10px;
        top: 0px; }
      .bear_lottery .two-activities .activity_title p {
        color: #fff;
        font-size: 22px;
        padding: 15px 0px;
        margin: 0 auto; }
        .bear_lottery .two-activities .activity_title p span {
          color: #ed4848;
          background-color: #fff;
          border-radius: 10px;
          font-size: 18px;
          padding: 2px 5px;
          margin-right: 5px;
          font-weight: 500; }
    .bear_lottery .two-activities p {
      width: 90%;
      margin: 0 auto; }
      .bear_lottery .two-activities p span {
        color: #00a4ef;
        font-weight: 500; }
    .bear_lottery .two-activities .P-1,
    .bear_lottery .two-activities .P-4,
    .bear_lottery .two-activities .P-3 {
      font-size: 18px;
      text-align: left; }
    .bear_lottery .two-activities .P-1 {
      line-height: 28px; }
    .bear_lottery .two-activities .P-2 {
      font-size: 16px;
      text-align: left;
      margin: 20px auto;
      line-height: 26px; }
    .bear_lottery .two-activities .P-3 {
      font-weight: 600;
      margin-bottom: 20px; }
    .bear_lottery .two-activities .P-4 {
      background-color: #fff;
      padding: 10px 0px;
      width: 90%;
      margin: 0 auto; }
      .bear_lottery .two-activities .P-4 svg {
        width: 20px;
        height: 20px; }
      .bear_lottery .two-activities .P-4 b {
        color: #009e96;
        font-weight: 400; }
    .bear_lottery .two-activities .P-5 {
      display: flex;
      padding: 10px 20px;
      margin: 10px auto;
      line-height: 27px;
      letter-spacing: -1px;
      font-size: 16px; }
      .bear_lottery .two-activities .P-5 p {
        width: auto;
        margin: 0px; }
  .bear_lottery .col-5 {
    width: 50%;
    margin: 0px 5px;
    border-radius: 30px;
    padding-bottom: 40px;
    max-width: 822px;
    width: 100%;
    display: inline-block;
    text-align: center; }
    .bear_lottery .col-5 h3 {
      font-size: 20px; }
    .bear_lottery .col-5 ul {
      margin: 20px 0px;
      margin-top: 68px; }
      .bear_lottery .col-5 ul li {
        display: inline-block;
        vertical-align: top;
        max-width: 135px;
        width: 100%;
        margin: 5px; }
        .bear_lottery .col-5 ul li p {
          margin: 14px auto;
          white-space: nowrap;
          width: auto; }
        .bear_lottery .col-5 ul li img {
          max-width: 100px;
          width: 100%;
          display: block;
          margin: 0 auto;
          height: 65px; }
        .bear_lottery .col-5 ul li .block {
          background: #fff;
          border-radius: 20px;
          padding: 20px 10px;
          text-align: center; }
          .bear_lottery .col-5 ul li .block span {
            font-size: 16px;
            display: block;
            margin-top: 10px; }
    .bear_lottery .col-5 .gift_deco2 {
      width: 80px;
      height: auto;
      margin-top: 30px; }
    .bear_lottery .col-5 .gift-all {
      margin-bottom: 20px; }
      .bear_lottery .col-5 .gift-all img {
        max-width: 160px;
        width: 100%;
        display: block;
        margin: 0 auto;
        height: 75px; }
      .bear_lottery .col-5 .gift-all .gift-in {
        background: #fff;
        border-radius: 20px 0px 0px 20px;
        padding: 20px 10px;
        text-align: center; }
        .bear_lottery .col-5 .gift-all .gift-in p {
          font-size: 16px;
          display: block;
          margin-top: 10px; }
      .bear_lottery .col-5 .gift-all .gift-2,
      .bear_lottery .col-5 .gift-all .gift-1 {
        vertical-align: top;
        display: inline-block;
        width: 40%; }
      .bear_lottery .col-5 .gift-all .gift-2 .gift-in {
        border-radius: 0px 20px 20px 0px; }
  .bear_lottery .con {
    display: inline-block;
    vertical-align: middle;
    margin-left: 46px;
    border-left: 1px dashed #009e96;
    padding-left: 42px; }
    .bear_lottery .con ul {
      text-align: left;
      margin-bottom: 46px; }
      .bear_lottery .con ul p {
        background: #f2f2f2;
        padding: 8px 12px; }
        .bear_lottery .con ul p a {
          color: #009e96;
          text-decoration: underline; }
        .bear_lottery .con ul p img {
          display: inline-block;
          width: 15px; }
      .bear_lottery .con ul span {
        color: #009e96; }
      .bear_lottery .con ul li {
        font-size: 16px;
        line-height: 28px; }
      .bear_lottery .con ul h3 {
        font-size: 18px;
        font-weight: 400; }
        .bear_lottery .con ul h3 b {
          display: block;
          color: #fff;
          background: #009e96;
          width: 77px;
          text-align: center;
          padding: 4px;
          margin-bottom: 15px; }
  .bear_lottery .col-3 {
    position: absolute;
    max-width: 270px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    top: -120px;
    left: -150px; }
    .bear_lottery .col-3 svg .bear_move {
      animation: fly 6s infinite;
      transform-origin: bottom center; }
    .bear_lottery .col-3 svg .yellow {
      animation: balloons 5s ease-in-out infinite;
      transform-origin: bottom center; }
    .bear_lottery .col-3 svg .red {
      animation: balloons 5s ease-in-out infinite;
      transform-origin: bottom center;
      animation-delay: .5s; }
    .bear_lottery .col-3 svg .blue {
      animation: balloons 5s ease-in-out infinite;
      transform-origin: bottom center;
      animation-delay: .8s; }
  .bear_lottery .col-1 {
    display: inline-block;
    max-width: 250px;
    text-align: center;
    width: 100%; }
    .bear_lottery .col-1 h3 {
      font-size: 20px;
      color: #00a4ef;
      margin-bottom: 42px; }
    .bear_lottery .col-1 li {
      display: inline-block;
      max-width: 213px;
      width: 100%; }
      .bear_lottery .col-1 li p {
        color: #00a4ef; }
      .bear_lottery .col-1 li .block {
        background: #00a4ef;
        border-radius: 20px;
        padding: 20px 10px;
        text-align: center;
        position: relative; }
        .bear_lottery .col-1 li .block img {
          max-width: 55px;
          width: 100%;
          display: block;
          margin: 0 auto; }
        .bear_lottery .col-1 li .block::before {
          content: url(../img/gift_deco.svg);
          display: block;
          width: 64px;
          position: absolute;
          top: -30px;
          left: 50%;
          transform: translateX(-50%); }
        .bear_lottery .col-1 li .block span {
          color: #fff;
          font-size: 16px;
          display: block;
          margin-top: 10px; }
  .bear_lottery .ballon_title {
    text-align: center;
    font-size: 20px;
    margin-top: 100px; }
    .bear_lottery .ballon_title img {
      width: 25px;
      height: auto; }
  .bear_lottery .ballons-area {
    text-align: center;
    background: url(../img/cloud_bg.jpg);
    background-size: cover;
    background-position: bottom;
    padding-top: 0px; }
    .bear_lottery .ballons-area .bear_bottom {
      max-width: 132px;
      width: 100%;
      display: block;
      margin: 0 auto;
      position: relative;
      margin-top: 275px; }
      .bear_lottery .ballons-area .bear_bottom + a {
        display: block;
        max-width: 236px;
        width: 100%;
        border: 1px solid;
        border-radius: 10px;
        font-size: 18px;
        text-align: center;
        margin: 20px auto;
        padding: 10px; }
    .bear_lottery .ballons-area .bear_hand {
      max-width: 18px;
      width: 100%;
      bottom: 45px;
      position: absolute;
      right: 34px;
      animation: hand 5s ease-in-out infinite; }
    .bear_lottery .ballons-area .ballon-block-out {
      display: inline-block; }
      .bear_lottery .ballons-area .ballon-block-out p,
      .bear_lottery .ballons-area .ballon-block-out ul li {
        font-size: 18px;
        width: 70%;
        text-align: left;
        margin: 0 auto;
        line-height: 30px; }
        .bear_lottery .ballons-area .ballon-block-out p a,
        .bear_lottery .ballons-area .ballon-block-out ul li a {
          color: #2980ce;
          text-decoration: underline; }
      .bear_lottery .ballons-area .ballon-block-out h2 {
        font-size: 24px; }
      .bear_lottery .ballons-area .ballon-block-out:nth-child(1) h2 {
        color: #00a4ef; }
      .bear_lottery .ballons-area .ballon-block-out:nth-child(1) .ballon-block {
        transform: translateY(30px); }
      .bear_lottery .ballons-area .ballon-block-out:nth-child(2) {
        transform: translateY(40px); }
        .bear_lottery .ballons-area .ballon-block-out:nth-child(2) h2 {
          color: #ffc517; }
        .bear_lottery .ballons-area .ballon-block-out:nth-child(2) .ballon-block {
          background: #fdf3da;
          /* fallback for old browsers */
          background: -webkit-linear-gradient(to left, #fdf3da, #fefaee);
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to left, #fdf3da, #fefaee);
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          transform: translateY(30px); }
          .bear_lottery .ballons-area .ballon-block-out:nth-child(2) .ballon-block:after {
            content: url(../img/balloon_yellow_line.svg);
            display: block;
            position: relative;
            left: 27%;
            bottom: -81px;
            max-width: 108px;
            width: 100%; }
          .bear_lottery .ballons-area .ballon-block-out:nth-child(2) .ballon-block a {
            background: #ffc517; }
            .bear_lottery .ballons-area .ballon-block-out:nth-child(2) .ballon-block a:hover {
              background: #f3b90b; }
      .bear_lottery .ballons-area .ballon-block-out:nth-child(3) h2 {
        color: #ed4848; }
      .bear_lottery .ballons-area .ballon-block-out:nth-child(3) .ballon-block {
        background: #f8dddb;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fbf1f0, #f8dddb);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fbf1f0, #f8dddb);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        transform: translateY(30px);
        z-index: 2; }
        .bear_lottery .ballons-area .ballon-block-out:nth-child(3) .ballon-block:after {
          content: url(../img/balloon_red_line.svg);
          display: block;
          position: relative;
          left: -100%;
          bottom: -53px;
          max-width: 600px;
          width: 160%; }
        .bear_lottery .ballons-area .ballon-block-out:nth-child(3) .ballon-block a {
          background: #ed4848; }
          .bear_lottery .ballons-area .ballon-block-out:nth-child(3) .ballon-block a:hover {
            background: #da2f2f; }
    .bear_lottery .ballons-area .ballon-block {
      position: relative;
      display: inline-block;
      padding: 65px 0;
      width: 379px;
      height: 379px;
      background: #dff1fc;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #b2dff6, #dff1fc);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #b2dff6, #dff1fc);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      border-radius: 50%;
      position: relative;
      vertical-align: top;
      margin: 0 5px; }
      .bear_lottery .ballons-area .ballon-block:before {
        position: absolute;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%; }
      .bear_lottery .ballons-area .ballon-block:after {
        content: url(../img/balloon_blue_line.svg);
        display: block;
        position: relative;
        left: 43%;
        bottom: -48px;
        width: 160%; }
      .bear_lottery .ballons-area .ballon-block a {
        justify-content: center;
        display: flex;
        align-items: center;
        background: #00a4ef;
        border-radius: 40px;
        max-width: 283px;
        width: 100%;
        margin: 10px auto;
        font-size: 20px;
        transition: .3s;
        color: #fff; }
        .bear_lottery .ballons-area .ballon-block a:hover {
          background: #0099e0; }
          .bear_lottery .ballons-area .ballon-block a:hover img {
            margin-left: 12px; }
        .bear_lottery .ballons-area .ballon-block a p {
          margin: 16px 0;
          width: 243px;
          font-size: 18px;
          line-height: 24px;
          text-align: center; }
        .bear_lottery .ballons-area .ballon-block a span {
          font-size: 15px;
          display: block;
          margin-top: 4px;
          font-weight: 300; }
        .bear_lottery .ballons-area .ballon-block a img {
          width: 8px;
          margin-left: 6px;
          transition: .3s; }

.activity {
  padding-top: 80px;
  width: 85%;
  margin: 0 auto;
  overflow: hidden; }
  .activity .slider_wrapper {
    padding: 10px 0px; }
  .activity .slider_nav {
    position: relative;
    z-index: 9; }
  .activity .slider_wrapper .swiper-slide {
    position: relative;
    height: auto;
    width: 400px;
    border-radius: 30px; }
  .activity img {
    width: 100%;
    border-radius: 20px;
    transition: border-radius .45s; }
  .activity .description {
    position: relative;
    width: 90%;
    text-align: center;
    background: #fff;
    margin: 0 auto;
    margin-top: -45px;
    z-index: 2;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #ddd;
    padding: 20px; }
    .activity .description:before {
      position: absolute;
      content: url("../img/label.svg");
      left: 30px;
      top: 0px;
      width: 24px;
      height: auto; }
    .activity .description h3 {
      color: #009e96;
      font-size: 26px;
      margin: 10px 0px; }
    .activity .description p {
      font-size: 17px;
      text-align: left;
      line-height: 30px; }
  .activity .btnAll {
    display: flex;
    align-items: center;
    justify-content: center; }
  .activity .bnButton {
    border: solid 1px #333333;
    color: #333333;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 5px;
    border-radius: 5px;
    transition: 0.2s; }
    .activity .bnButton:hover {
      color: #fff;
      background-color: #333333;
      cursor: pointer;
      transform: translateY(-5px); }
  .activity .slider_wrapper .swiper-wrapper > .swiper-slide {
    opacity: 0.2; }
  .activity .slider_wrapper .swiper-slide.swiper-slide-next,
  .activity .slider_wrapper .swiper-slide.swiper-slide-prev {
    opacity: 0.5; }
  .activity .slider_wrapper .swiper-slide.swiper-slide-active {
    opacity: 1; }
  .activity .description {
    opacity: 0; }
  .activity .slider_wrapper .swiper-slide.swiper-slide-active .description {
    opacity: 1; }
  .activity .slider_navigation {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%; }
  .activity .slider_navigation .slider_nav {
    height: 100%;
    width: 30px;
    border: 0;
    cursor: pointer; }
  .activity .slider_navigation .slider_nav:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.5); }
  .activity .swiper-button-prev,
  .activity .swiper-button-next {
    top: 400px;
    width: 40px;
    height: 40px;
    background-size: 40px 40px; }
    .activity .swiper-button-prev:focus,
    .activity .swiper-button-next:focus {
      outline: none; }
  .activity .swiper-button-next {
    right: 20%;
    background-image: url("../img/arrowRight.svg"); }
  .activity .swiper-button-prev {
    left: 20%;
    background-image: url("../img/arrowLeft.svg"); }
  .activity .swiper-pagination2 {
    position: static;
    margin-top: 10px;
    text-align: center; }
    .activity .swiper-pagination2 .swiper-pagination-bullet {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: rgba(62, 95, 93, 0.45);
      margin: 0 5px;
      opacity: 1; }
    .activity .swiper-pagination2 .swiper-pagination-bullet-active {
      background: #009e96; }

.swiperNotice ol {
  padding: 0 4em;
  line-height: 22px; }

.swiperNotice li {
  line-height: 26px; }

.swiperNotice h2 {
  color: #009e96;
  text-align: center; }

.tabs {
  margin: 50px 0; }
  .tabs > p {
    text-align: center;
    color: #4d4d4d;
    font-size: 16px;
    margin: 40px 0; }
    .tabs > p a {
      max-width: 86px;
      width: 100%;
      display: inline-block;
      vertical-align: middle; }
  .tabs .tab-list {
    margin: 40px auto;
    max-width: 390px;
    width: 100%;
    border: 1px solid #c5e9e2;
    padding: 8px 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between; }
    .tabs .tab-list a {
      font-size: 18px;
      color: #333333;
      display: inline-block;
      max-width: 172px;
      width: 100%;
      text-align: center;
      background: #fff;
      padding: 10px;
      border-radius: 10px;
      transition: .3s; }
    .tabs .tab-list .active-tab {
      background: #009e96;
      color: #fff; }
  .tabs .sub_title h2 {
    text-align: center;
    font-size: 30px;
    color: #009e96; }
    .tabs .sub_title h2:after {
      content: '';
      display: block;
      width: 164px;
      height: 3px;
      border-radius: 10px;
      background: #009e96;
      /* fallback for old browsers */
      background: linear-gradient(to right, #009e96, rgba(0, 158, 150, 0));
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      margin: 16px auto; }
  .tabs .tab-content {
    display: none; }
  .tabs .tab-content.show {
    display: block; }
  .tabs .qa-section {
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    background: #eef8f8;
    box-shadow: 0 7px 0px #daeae7;
    border-radius: 10px;
    padding: 6px 28px;
    margin-bottom: 26px;
    padding-bottom: 13px;
    padding-left: 63px;
    cursor: pointer; }
    .tabs .qa-section a {
      color: #003f9e; }
    .tabs .qa-section p {
      line-height: 24px;
      font-size: 16px;
      margin: 0; }
    .tabs .qa-section h3 {
      position: relative;
      font-size: 18px;
      font-weight: normal; }
      .tabs .qa-section h3 span {
        color: #009e96;
        position: absolute;
        left: -42px; }
      .tabs .qa-section h3 .faq_icon {
        position: absolute;
        right: 20px;
        color: #ff7d5a;
        max-width: 30px;
        width: 100%;
        transition: .3s; }
    .tabs .qa-section .answer {
      display: none; }
      .tabs .qa-section .answer h3 {
        margin-bottom: 0px; }
      .tabs .qa-section .answer p {
        text-align: justify; }
      .tabs .qa-section .answer ul {
        margin: 0;
        padding: 0;
        line-height: 28px;
        font-size: 16px; }
        .tabs .qa-section .answer ul li {
          margin-bottom: 4px;
          text-align: justify; }
        .tabs .qa-section .answer ul p {
          margin: 2px auto;
          text-align: justify;
          margin-left: -20px; }
  .tabs .active-qa h3 {
    color: #009e96; }
  .tabs .active-qa .faq_icon {
    transform: rotate(180deg); }

@media screen and (max-width: 1540px) and (min-width: 1330px) {
  .bear_lottery .col-3 {
    height: 298px; }
  .phone_menu > img {
    height: 424px; }
  .kv #dax-stroke {
    height: 360px; } }

@media (min-width: 900px) {
  .owl-carousel .owl-wrapper {
    width: 100% !important;
    text-align: center; }
  .owl-carousel .owl-item {
    float: none;
    display: inline-block;
    max-width: 300px;
    width: 100% !important; } }

@media screen and (min-width: 801px) {
  .buns {
    display: none; } }

@media (max-width: 1808px) {
  .bear_lottery .ballons-area .ballon-block:after {
    content: url(../img/balloon_blue_line_s.svg);
    display: block;
    position: relative;
    left: 43%;
    bottom: -48px;
    width: 100%;
    max-width: 70px; }
  .bear_lottery .ballons-area .ballon-block-out:nth-child(3) .ballon-block:after {
    content: url(../img/balloon_red_line_s.svg);
    display: block;
    position: relative;
    left: 40%;
    bottom: -53px;
    max-width: 50px;
    width: 100%; } }

@media (max-width: 1440px) {
  .bear_lottery .two-activities {
    width: 90%; } }

@media screen and (max-width: 1280px) {
  .invite {
    margin: 80px 0; }
    .invite .col-9 .block {
      max-width: 313px; }
      .invite .col-9 .block p {
        font-size: 16px; }
    .invite .col-9 .invite_block {
      padding: 20px; }
  .join .row .col-4 ul {
    margin-top: 30px; }
    .join .row .col-4 ul li {
      margin: 6px 16px; }
  .kv ul li {
    max-width: 53px; }
  .kv .phone_menu {
    max-width: 299px;
    left: 4vw; }
  .kv .menu_block {
    top: 120px;
    left: 122px; }
  .title {
    margin-top: 40px; }
    .title h1 {
      margin-top: 20px; }
  .bear_lottery .ballons-area .ballon-block-out p,
  .bear_lottery .ballons-area .ballon-block-out ul li {
    font-size: 16px;
    line-height: 27px; }
  .bear_lottery .ballon_title p {
    font-size: 18px;
    line-height: 28px;
    padding: 0px 20px; }
  .bear_lottery .col-3 {
    max-width: 200px;
    top: -70px; }
  .bear_lottery .sub_title_out {
    margin-top: 100px; }
  .activity {
    width: 100%; } }

@media screen and (max-width: 1176px) {
  .bear_lottery .ballons-area .ballon-block-out:nth-child(3) .ballon-block:after {
    content: url(../img/balloon_red_line_m.svg);
    left: -26%;
    bottom: -50px;
    max-width: 308px; }
  .bear_lottery .ballons-area .ballon-block-out:nth-child(2) .ballon-block:after {
    content: url(../img/balloon_yellow_line_m.svg);
    left: 41%;
    bottom: -76px;
    max-width: 230px; }
  .invite .col-9 {
    width: 100%;
    margin: 0; }
  .invite .col-3 {
    display: block;
    margin: 0 auto; } }

@media (max-width: 1072px) {
  .bear_lottery .ballons-area .ballon-block-out h2 {
    margin-bottom: 5px; }
  .bear_lottery .ballons-area .ballon-block-out:nth-child(2) {
    transform: translateY(80px); }
  .bear_lottery .ballons-area .ballon-block-out:nth-child(3) {
    transform: translateY(150px); }
    .bear_lottery .ballons-area .ballon-block-out:nth-child(3) .ballon-block:after {
      content: url(../img/balloon_red_line_s.svg);
      left: 42%;
      bottom: -50px;
      max-width: 53px; }
  .join {
    margin-top: 50px; } }

@media screen and (max-width: 1000px) {
  .join .row {
    display: block; }
    .join .row .col-8 {
      width: 100%;
      border: 0;
      padding: 30px 20px; }
      .join .row .col-8 > a {
        transform: translateY(0px);
        position: static; }
    .join .row .col-4 {
      width: 100%;
      padding: 30px 20px;
      margin-top: 30px; }
      .join .row .col-4 .con {
        margin-top: 45px; }
      .join .row .col-4 > a {
        transform: translateY(0px);
        position: static; } }

@media screen and (max-width: 992px) {
  .activity {
    width: 100%; }
    .activity .description h3 {
      font-size: 20px; }
    .activity .description p {
      font-size: 15px;
      line-height: 20px; }
    .activity .description .bnButton {
      font-size: 16px;
      padding: 10px 12px; } }

@media screen and (max-width: 886px) {
  .point .coin_1 {
    right: 0; }
  .point .point_title {
    margin-top: 20px; }
  .point .con {
    width: 90%; }
  .point .txt {
    margin: 20px;
    padding: 20px; }
  .bear_lottery .col-3 {
    left: 50%;
    transform: translateX(-50%);
    top: -210px; }
  .bear_lottery .col-5 {
    margin: 0px;
    margin-bottom: 20px; }
  .bear_lottery .sub_title_out {
    margin-top: 300px; }
  .bear_lottery .ballon_title {
    margin-top: 30px; }
  .bear_lottery .two-activities {
    flex-direction: column; } }

@media screen and (max-width: 800px) {
  .join .row .col-8 h3 {
    margin: 0; }
  .join .row .col-4 .con {
    margin-top: 28px; }
  .join .row .col-4 h3 {
    margin: 0; }
  .join > p {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    line-height: 28px;
    padding: 0 20px; }
    .join > p b {
      display: block;
      margin: 0 auto 6px; }
  .owl-page {
    width: 8px;
    height: 8px;
    background: rgba(0, 158, 150, 0.45);
    border-radius: 30px;
    display: inline-block;
    margin: 12px 5px; }
  .owl-page.active {
    background: #009e96; }
  .tabs {
    padding: 0 20px; }
  .bear_lottery .row {
    margin-bottom: 30px; }
  .bear_lottery .ballons-area .ballon-block-out:nth-child(1) .ballon-block {
    transform: translateY(0px); }
  .bear_lottery .ballons-area .ballon-block-out:nth-child(2) {
    transform: translateY(-350px); }
    .bear_lottery .ballons-area .ballon-block-out:nth-child(2) .ballon-block {
      transform: translateY(0px); }
  .bear_lottery .ballons-area .ballon-block-out:nth-child(3) {
    transform: translateY(-520px); }
    .bear_lottery .ballons-area .ballon-block-out:nth-child(3) .ballon-block {
      transform: translateY(0px); }
  .bear_lottery .ballons-area .bear_bottom {
    margin-top: -500px; }
  .bear_lottery .ballons-area .ballon-block {
    margin: 20px auto;
    margin-bottom: 52px;
    display: block; }
    .bear_lottery .ballons-area .ballon-block:nth-child(1) {
      transform: translateY(0); }
    .bear_lottery .ballons-area .ballon-block:nth-child(3) {
      transform: translateY(0); }
  .bear_lottery .con {
    margin-left: 0; }
  .bear_lottery .col-4 ul li {
    max-width: 235px; }
  .invite .col-9 .invite_block {
    margin-bottom: 20px;
    margin-top: 0; }
  .invite .col-3 {
    margin-top: 30px; }
  .kv {
    margin-top: 57px;
    overflow: hidden; }
    .kv .phone_menu {
      display: none; }
    .kv svg {
      width: 1000px;
      left: -230px;
      position: relative; } }

@media screen and (max-width: 700px) {
  .invite {
    padding: 0 20px; }
    .invite .highlight {
      min-width: auto;
      width: 80%;
      padding: 10px !important; } }

@media screen and (max-width: 550px) {
  .point .coin_1 {
    max-width: 66px; }
  .point .txt {
    margin: 20px 0; }
    .point .txt p {
      font-size: 16px; }
  .white-popup {
    height: 600px; }
  #test-popup-3,
  #test-popup-2 {
    font-family: "微軟正黑體", "Microsoft JhengHei", sans-serif; }
  #test-popup-1 h2 {
    font-size: 20px; }
    #test-popup-1 h2 span {
      display: block;
      margin-top: 4px; }
    #test-popup-1 h2 .comma {
      display: none; }
  #test-popup-3 .con > ol,
  #test-popup-2 .con > ol {
    padding: 0 3em; }
  #test-popup-1 .row h2 {
    font-size: 16px; }
  .tabs > p a {
    max-width: 60px; }
  .tabs > p span {
    display: block;
    margin-top: 10px; }
  .tabs .qa-section {
    padding-left: 52px; }
    .tabs .qa-section p {
      font-size: 14px; }
    .tabs .qa-section ul li {
      font-size: 14px; }
    .tabs .qa-section h3 {
      font-size: 16px;
      line-height: 22px; }
      .tabs .qa-section h3 .faq_icon {
        max-width: 20px;
        top: 0;
        right: -13px; }
  .tabs .tab-list {
    padding: 8px 6px; }
    .tabs .tab-list a {
      font-size: 15px;
      padding: 8px; }
  .activity {
    width: 80%;
    padding-bottom: 30px;
    padding-top: 20px; }
    .activity .swiper-button-prev,
    .activity .swiper-button-next {
      top: auto;
      width: 30px;
      height: 30px;
      background-size: 30px 30px; }
    .activity .swiper-button-next {
      right: 15%; }
    .activity .swiper-button-prev {
      left: 15%; }
    .activity .swiper-pagination2 {
      margin-top: 25px; }
  .join {
    margin-top: 50px; }
  .bear_lottery .sub_title_out {
    margin-top: 214px;
    width: 100%; }
  .bear_lottery .two-activities .P-4 svg {
    width: 30px;
    height: 30px; }
  .bear_lottery .row-reverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse; }
  .bear_lottery .col-4 ul li {
    max-width: 158px;
    margin: 5px 10px; }
  .bear_lottery .col-3 {
    max-width: 200px;
    display: block;
    margin: 0 auto; }
  .bear_lottery .col-5 .gift-all .gift-2,
  .bear_lottery .col-5 .gift-all .gift-1 {
    width: 45%; }
  .bear_lottery .row {
    margin: 30px auto; }
  .bear_lottery .date {
    max-width: 322px;
    font-size: 16px; }
  .bear_lottery .row {
    margin-bottom: 0; }
  .bear_lottery .con {
    display: block;
    padding: 20px;
    border: 0; }
    .bear_lottery .con ul p {
      line-height: 24px; }
    .bear_lottery .con ul h3 {
      line-height: 28px; }
  .bear_lottery .ballons-area {
    overflow: hidden;
    background-position: unset; }
    .bear_lottery .ballons-area .ballon-block-out p,
    .bear_lottery .ballons-area .ballon-block-out ul li {
      width: 80%; }
    .bear_lottery .ballons-area .ballon-block-out:nth-child(1) .ballon-block::after {
      bottom: -17px; }
    .bear_lottery .ballons-area .ballon-block-out:nth-child(2) {
      transform: translateY(-400px); }
      .bear_lottery .ballons-area .ballon-block-out:nth-child(2) .ballon-block::after {
        bottom: -40px; }
    .bear_lottery .ballons-area .ballon-block-out:nth-child(3) {
      transform: translateY(-640px); }
      .bear_lottery .ballons-area .ballon-block-out:nth-child(3) .ballon-block {
        padding: 5px 0; }
        .bear_lottery .ballons-area .ballon-block-out:nth-child(3) .ballon-block::after {
          bottom: -15px;
          left: 40%; }
    .bear_lottery .ballons-area .bear_bottom {
      margin-top: -800px; }
    .bear_lottery .ballons-area .ballon-block {
      width: 300px;
      height: 300px;
      padding: 26px 0; }
      .bear_lottery .ballons-area .ballon-block a {
        max-width: 260px; }
        .bear_lottery .ballons-area .ballon-block a p {
          width: 184px;
          font-size: 15px; }
        .bear_lottery .ballons-area .ballon-block a span {
          font-size: 12px;
          margin-top: 0px; }
  .invite a.notice_mbtn {
    display: block; }
  .invite .col-9 a {
    display: none; }
  .invite .col-9 .deco_bg {
    top: 168px;
    bottom: unset;
    max-width: 175px;
    display: none; }
  .invite .col-9 .block {
    max-width: 323px;
    display: block;
    margin: 20px auto; }
    .invite .col-9 .block p {
      height: auto; }
  .invite .col-9 > p {
    padding: 0 20px;
    line-height: 28px; }
    .invite .col-9 > p img {
      display: block;
      margin: 10px auto; }
  .join .row .col-8 ul > li {
    max-width: 122px;
    margin: 8px; }
    .join .row .col-8 ul > li h4 {
      font-size: 12px; }
    .join .row .col-8 ul > li > p {
      font-size: 12px;
      line-height: 20px; }
  .join .row .col-4 ul li {
    margin: 6px 4px;
    max-width: 126px; }
    .join .row .col-4 ul li p {
      font-size: 14px; }
    .join .row .col-4 ul li .icon {
      width: 90px;
      height: 90px; }
  .join > p {
    font-size: 16px; }
    .join > p b {
      font-size: 20px; }
  .sub_title h2 {
    font-size: 22px !important; }
  .arrow {
    transform: translateY(-54px); }
    .arrow .comma {
      display: none; }
    .arrow p {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 0; }
      .arrow p span {
        display: block; }
  .title img {
    max-width: 250px; }
  .title h1 {
    font-size: 20px; }
  .kv svg {
    width: 809px;
    left: -233px; } }

@media screen and (max-width: 380px) {
  .kv svg {
    left: -249px; }
  .activity {
    width: 90%; }
  .join {
    margin-top: 40px; }
  .bear_lottery .two-activities .P-4 svg {
    width: 32px;
    height: 32px; } }

@media screen and (max-width: 330px) {
  .kv svg {
    width: 744px; }
  .activity .swiper-button-prev,
  .activity .swiper-button-next {
    bottom: -248px; } }
